// @import "dragula/dist/dragula.min.css";
@import "mithril-material-forms/lib/colors";
@import "mithril-material-forms/lib/typography";
@import "mithril-material-forms/lib/units";
@import "editron-core/sass/colors";


.editron-index {
    a {
        font-size: $mmf-text-size--meta; // $mmf-text-size--list;
    }

    li {
        list-style: none;
    }

    li.hasError > .editron-index__item > a.editron-index__title {
        color: $mmf-color--error;
    }

    ul {
        position: relative;
    }

    .editron-editable-index-list {
        overflow: hidden;
    }
}

.editron-index-list {
    padding-bottom: $mmf-block;
}

.editron-index__item--sortable > a.editron-index__title {
    @include font-regular();
}


.editron-index__item {
    height: $mmf-block;
    display: flex;
    flex-direction: row;

    .editron-index__icon {
        // @include icon();
        flex-shrink: 0;
        width: $mmf-block;
        height: $mmf-block;
    }

    .editron-index__title {
        @include font-bold();

        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 2;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        text-decoration: none;
        color: $color-primary__text--header;
    }

    &--default {
        padding-left: $mmf-block;
    }

    &--sortable {}

    .editron-index__icon--add:hover {
        .mmf-icon {
            color: $mmf-color--ok;
        }
    }

    .editron-index__icon {
        color: $color-primary__text;
    }

    .editron-index__icon--move:hover,
    .editron-index__icon--move:hover .mmf-icon {
        cursor: ns-resize !important;
    }

    .editron-index__icon--dummy {
        .mmf-icon {
            color: $color-secondary__text;
            cursor: default !important;
        }
        cursor: default !important;
    }
}


.editron-index li.isActive {

    & > .editron-index__item {
        background-color: $color-primary__background;

        .editron-index__icon--dummy,
        .editron-index__icon--dummy .mmf-icon {
            color: $color-primary__text;
            cursor: default !important;
        }
    }
}

.editron-index li.isCollapsed {
    & > .editron-editable-index-list {
        height: 0 !important;
    }

    & .editron-index__icon--collapse {
        transform: rotate(180deg);
    }
}
